.randomImage{
  width: 300px;
  height: 150px;
  border-color: 1px solid black;

  display: grid;
  grid-template-columns: 1fr 1fr;
}
.randomImage img{
  border-radius: 50%;
  align-self: center;
  justify-self: center;
}

